<div class="text-center">
    <h1 class="display-4">All types of Views in MVC</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Adertisements
    {
    <h3>Flipkart Offers</h3>
    <h4>On Shirts</h4>
    <h4>On Shoes</h4>
}

@section Adertisements2
    {
    <h3>Amazon Offers</h3>
    <h4>On Mobiles</h4>
    <h4>On Laptops</h4>
}