@*@{
    Layout = null;
}*@

<h1>Login</h1>
<form method="post" asp-controller="account" asp-action="login">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" />
    </div>
    <input type="submit" value="Log In" class="btn btn-primary" />
</form>
